#menu
{
    height: 500px;
    width: 600px;
    background-color: black;
    margin: 0 auto;
    display: block;
}

#console
{
height: 500px;
width: 600px;
background-color: black;
margin: 0 auto;
display: none ;
}

#score
{
height: 50px;
background-color: grey;
}

#container
{
height: auto;
width: 435px;
background-color: red;


}

.alien
{
    border: solid black;
    width: 30px ;
    height: 30px;
    margin: 5px;
    
}
.ligne
{
    display: flex;
}
#zone
{
    height: 400px;
    background-color: yellow;
}

#killZone
{
background-color: aqua;

}

#vaisseau
{
    background-color: green;
    height: 50px;
    width: 50px;
}

#missile
{
    height: 10px;
    width: 10px;
    background: blue;
}