#menu
{
    height: 500px;
    width: 600px;
    background-color: black;
    margin: 0 auto;
    display: block;
}

#fenetre
{
height: 500px;
width: 605px;
background-color: black;
margin: 0 auto;
display: none ;
background-image: url(images/nuitetoile.gif);
}

#score
{
height: 50px;
}

#container
{
height: auto;
width: 435px;



}

.alien
{
    border: solid black;
    width: 30px ;
    height: 30px;
    margin: 5px;
    
}
.ligne
{
    display: flex;
}
#zone
{
    height: 400px;
    
    overflow-y: hidden;
}

#killZone
{


}

#vaisseau
{
    background-color: green;
    height: 50px;
    width: 50px;
}

.missile
{
    display:  bloc k;
    height: 30px;
    width: 10px;
    background: red;
}

